/* 
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

body {
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    width: 100%;
}


@media screen and (max-width: 1280px) {
    html {
        font-size: 9.5px;
    }
}

@media screen and (max-width: 1112px) {
    html {
        font-size: 9px;
    }   
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 8.5px;
    }  
}


h1 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 4.3rem;
}

body {
   overflow-x: hidden;
}


p {
    font-size: 1.6rem;
}




/* HEADER */

/* --------------- HEADER   NOWY -------------------- */
div.header-fixed {
    background-color: white;
    box-shadow: 0px -2px 5px 0px rgb(146, 144, 144);
    height: 70px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

header {
    position: relative;
    /* display: flex;
    justify-content: space-between; */
    height: 70px;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* background-color: pink; */
}

nav .logo-wrapper{
    flex-basis: 30%;
    height: auto;
    /* max-height: 100%; */
/* display: none; */
}


.nav-links{
    /* flex-grow: 1; */
    display: flex;
    justify-content: space-between;

}

.nav-links li{
    list-style: none;
    position: relative;
    overflow: hidden;
    margin:0 16px;
}

/* .nav-links li:nth-last-child(1){
    margin-right: 0;
} */


.nav-links li:nth-child(1){
    display: none;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 500px;
    padding: 5px 0;
    cursor: pointer;
}

.nav-links li:nth-last-child(1) a{
    padding-right: 0;
 }

 .nav-links li a::after{
    background-color: #B89288;
    bottom: 0;
    content: "";
    height: 2px;
    left: -100%;
    position: absolute;
    transition: 0.3s ease;
    width: 100%;
    z-index: -2;
 }

 .nav-links li a:hover::after{
    left:0;
}


 /* --- Burger --- */
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 28px;
    height: 3px;
    background-color: #B89288;
    border-radius: 3px;
    transition: all .3s ease;
    margin: 4px;
}

/* MEDIA start */
@media screen and (max-width: 1440px){
header{
    max-width:90%;
    /* padding: 0 5%; */
}
}

@media screen and (max-width: 1280px) {
    .nav-links li a {
        font-size: 1.5rem;
        text-align: center;
    }
}


@media screen and (max-width: 1024px){
    header, div.header-fixed {
        height: 44px;
    }

        header{
            max-width:100%;
            padding: 0 5%;
        }
  
.nav-links {
    align-items: stretch;
    background-color: white;
    display: block;
    flex-direction: column;
    height: calc(100vh - 44px);
    justify-content: flex-start;
    overflow-y: auto;
    position: absolute;
    right: -450px;
    top: 44px;
    transform: translateX(0);
    transition: transform .5s ease-in;
    width: 450px;
    z-index: -1;
}   

.nav-links li:nth-child(1){
    display: block;
}

.nav-links li{
    opacity: 0;
}

.nav-links li:nth-child(1), .nav-links li:nth-last-child(1),  .nav-links li:nth-last-child(2){
text-transform: uppercase;
 }


 /* .nav-links li:nth-child(1), .nav-links li:nth-last-child(2){
    margin-top: 32px;
 } */

 .nav-links li a{
     font-size: 2.6rem;
    padding: 16px 0px 16px 10%;
    text-align: left;
    font-weight: bold;
    color: #444;
}

.nav-links li a:hover{
    color: #B89288;
 }

 .nav-links li a::after{
 content: none;

 }

 .nav-links li:nth-child(1) a{
    margin-top: 16px;
  }

 .nav-links li:nth-last-child(1) a{
    padding: 16px 0px 16px 10%;
  }

  .nav-links li a.menu-massages, 
  .nav-links li a.menu-waxing,
  .nav-links li a.menu-face,
  .nav-links li a.menu-manicure {
      padding-left: 8%;
      margin-left: 10%;
      border-left: 1px solid #B89288;
      font-weight: normal;
  }

  .nav-links li a.menu-massages {
      padding-top:0;
      margin-top: 16px;
  }
  .nav-links li a.menu-manicure {
    padding-bottom:0;
    margin-bottom: 16px;;
  }


     .burger{
        display: block;
}
}

@media screen and (orientation: landscape) and (max-width: 736px){
    .nav-links li a {
        font-size: 2rem
    }
}

@media screen and (max-width: 480px){
    .nav-links {
        width: 270px;
        right: -270px;
    }

    .nav-links li a {
        font-size: 2rem
    }
}

/* MEDIA End */

.nav-active {
    transform: translateX(-100%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.active .line1{
    transform: rotate(-45deg) translate(-5px, 5px); 
}

.active .line2{
    opacity: 0;
}
     
.active .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}


/* HERO */
section.hero {
    background-attachment: fixed;
    background-image: url("../images/header_1600.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    margin-top: 70px;
    overflow: hidden;
    position: relative;
}

.hero-text-containter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width:1280px;

}

h1.hero-title {
    letter-spacing: 2px;
    margin-bottom: 24px;
    width: 500px;
    max-width: 100%;
}

p.hero-text-small {
    color: #fff;
    font-size: 2rem;
    line-height: 3rem;
    width: 500px;
}

button {
    padding: 16px 24px;
}

.hero button.book-a-visit {
    background-color: #B89288;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 32px;
    text-transform: uppercase;
    transition: .6s;
}

/* @media screen and (max-width: 1440px) {
 
} */

@media screen and (max-width: 1280px) {
    section.hero {
        background-image: url("../images/header_1280.jpg");
        height: 60vh;
    }

    h1 {
        font-size: 3.6rem;
        width: 450px;
    }

    p.hero-text-small {
        font-size: 1.8rem;
        width: 450px;
        max-width: 100%;
    }

    .hero button.book-a-visit {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1024px) {
    section.hero {
        margin-top: 44px;
     }
    }

@media screen and (orientation: portrait) and (max-width: 1024px) {
    section.hero {
        background-image: url("../images/header_1024.jpg");
        height: 50vh;
     }

     .hero-text-containter {
        width: 90%;
        top: 60%;
    }

    h1.hero-title, p.hero-text-small {
        width: 50%;
    }
  
}

@media screen and (orientation: landscape) and (max-width: 853px) {
    section.hero {
        height: calc(100vh - 44px);
    }

     h1.hero-title, p.hero-text-small {
        width: 60%;
     }

     h1 {
        font-size: 2.6rem;
    }

    p.hero-text-small {
        font-size: 1.7rem;
    }
  }

@media screen and (orientation: portrait) and (max-width: 667px) {
 
    .hero-text-containter {
        top: 50%;
    }
    h1 {
        font-size: 3.2rem;
    }

    p.hero-text-small {
        font-size: 1.6rem;
    }
  }

  @media screen and (orientation: landscape) and (max-width: 667px) {
 
       h1.hero-title, p.hero-text-small {
        width: 70%;
     }

     h1 {
        font-size: 2.4rem;
    }

    p.hero-text-small {
        font-size: 1.6rem;
    }
  }

  @media screen and (orientation: landscape) and (max-width: 568px) {
    .hero button.book-a-visit{
        margin-top: 16px;
    }
  }


@media screen and (orientation: portrait) and (max-width: 414px) {
    .hero-text-containter {
        width: 90%;
        text-align: center;
    } 

    h1.hero-title, p.hero-text-small {
        width: 90%;
     }
    
    h1 {
        font-size: 2.8rem;
    }

    p.hero-text-small {
        font-size: 1.6rem;
        line-height: 2rem;
    }

}

@media screen and (orientation: portrait) and (max-width: 320px) {
    /* .hero-text-containter {
        padding-top: 8%;
    }  */
    
    h1 {
        font-size: 2.4rem;
    }

    p.hero-text-small {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .hero button.book-a-visit {
        margin: 24px 0 0;
    }
} 



/* Services description */

.service {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
    padding: 72px 0;
    transition: 1.2s ease-out;
}


.service-bcg {
    background-color: #F7F7F7;
}

section.service-bcg div.service {
    flex-direction: row-reverse;
}

/* ANIMACJA  Start - wjazd elementów */
.services .service.waxing,
.services .service.manicure {
    opacity: 0;
    transform: translateX(110vw);
}

.services .service.face {
    opacity: 0;
    transform: translateX(-110vw);
}

.services .service.waxing.active,
.services .service.manicure.active,
.services .service.face.active {
    opacity: 1;
    transform: translateX(0);
}

/* animacja END */

.service-about {
    display: flex;
    flex-direction: column;
    width: 450px;
}


.service-picture img {
    box-shadow: 0px 1px 2px 0px rgba(160, 160, 160, 1);
    width: 640px;
}
.service-picture.massage img,
.service-picture.face img {
    margin-left: 40px;
}
.service-picture.waxing img,
.service-picture.manicure img {
    margin-right: 40px;
}

h2 {
    color: #444;
    font-family: "Playfair Display", sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

.service-about p {
    color: #444;
    font-weight: 500;
    line-height: 30px;
}

.service-about p:nth-last-child(1) {
margin-top: 1.6rem;
}



@media screen and (max-width: 1440px) {
    .service {
        max-width: 90%;
    }
}

@media screen and (max-width: 1280px) {
    .service-picture img {
       width: 500px;
 
    }
}


@media screen and (max-width: 1112px) {
    .service-picture img {
        width: 450px;
  
    }

    .service-about {
        width: 450px;
        max-width: 100%;
    }

    .service-about p:nth-last-child(1) {
        margin-top: 0;
        }
 
}

@media screen and (max-width: 1024px) {
    .service {
        align-items: center;
        flex-direction: column;
        padding: 44px 0;
    }

    .service-about {
        height: auto;
        margin-bottom: 60px;
    }

    section.service-bcg div.service {
        flex-direction: column;
    }

    .service-about h2 {
        text-align: center;
    }

    .service-about p {
        height: auto;
        text-align: center;
    }

    .service-picture img {
        width: 100%;
    }

.service-picture.massage img,
.service-picture.face img, 
.service-picture.waxing img,
.service-picture.manicure img {
    margin: 0 auto;
    display: block;
}

}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .service {
        position: relative;
    }

    .service-picture img {
        width: 90%;     
    }
}


/* PRICING */
section.pricing {
    color: #444;
    
    margin: 72px auto;
    width: 1280px;
}


.h2-price-contact {
    letter-spacing: 1.51px;
    margin-bottom: 24px;
    padding-bottom: 55px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: -2;
}

.h2-price-contact span {
    background-color: #000;
    bottom: 1px;
    height: 1px;
    left: 47.8%;
    position: absolute;
    width: 4.75%;
}

.menu-pricing-standard.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pricing-categories {
    height: 500px;
    margin-right: 10%;
   
}

.pricing-categories div {
    border-bottom: 1px solid rgb(240, 240, 240);
    cursor: pointer;
    padding: 16px 0;

    /* border:2px solid red; */
}
.pricing-categories div:nth-child(1) {
    padding-top: 36px;
}

.pricing-categories div:nth-last-child(1){
    border-bottom: none;
  }

.pricing h3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    position: relative;
    padding-bottom: 8px;;
    z-index: -2;
}

.pricing h3 i {
    display: none;
    font-size: 3.2rem;
    left: -28px;
    position: absolute;
    top: 0px;
    line-height: 2rem;
}

.pricing-categories>div.active h3 {
    color: #B89288;
}

.pricing-categories>div.active h3 i {
    display: block;
}


.pricing-categories div:hover h3 {
    color: #B89288;
}

.pricing-categories div:hover i {
    color: #B89288;
    display: block;
}

.pricing-list-container {
    font-size: 2rem;
    line-height: 20px;
    min-height: auto;
    padding: 36px;
    width: 54%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

.pricing-list-items {
    display: none;
}

.pricing-list-items.active {
    display: block;
}


div.pricing-list-item:nth-child(1) {
    margin-top: 0;
}

div.pricing-list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
}

.item-line-spacer {
    border-bottom: .5px solid #F7F7F7;
    flex-grow: 1;
    margin: 0 10px;
}

p.item-price {
    color: #B89288;
    font-size: 2rem;
}

p.item-description {
    flex-basis: 100%;
    font-size: 1.6rem;
    margin-top: 8px;
}

@media screen and (max-width: 1440px) {
    section.pricing {
        width: 90%;
    }
}

/* Pricelist - ACCORDION  start */

.menu-pricing-accordion.wrapper{
    /* border: 2px solid blue; */
    display:none;
}
.menu-pricing-accordion-categorie{
    width:100%;
    text-align: left;
    cursor: pointer;
    color: #B89288;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(240, 240, 240);
    transition: .4s;
    overflow: hidden;
    padding: 16px 32px 16px 37px;
  }

button.menu-pricing-accordion-categorie h3 {
    z-index: 0;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    float: left;
    padding: 0;
}

span.arrow {
    font-size: 25px;
    line-height: 30px;;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 2px solid #B89288;
    border-radius: 50%;
    float:right;

}

span.arrow.active {
transform: rotate(180deg);
}
.accordion-pricing-list-items{
    background-color: #F7F7F7;
    border-left: 3px solid #B89288;
    display: flex;
    display: none;
    flex-wrap: wrap;
    padding: 16px 32px 16px 32px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

.accordion-pricing-list-item{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   flex-basis:100%;
   margin: 16px 0;
}
.accordion-pricing-list-item .item-name{
    font-size: 1.8rem;
    flex-basis: 80%;
}

.accordion-pricing-list-item .item-price{
    font-size: 1.8rem;
    flex-grow: 1;
    text-align: right;
}
.accordion-pricing-list-item .item-description{
    flex-basis: 80%;
}

@media screen and (max-width: 980px) {
    .menu-pricing-standard.wrapper {
        display: none;
    }

    .menu-pricing-accordion.wrapper {
        display: block;
    }
}

@media screen and (orientation: portrait) and (max-width: 375px) {
    .accordion-pricing-list-item .item-name{
        font-size: 1.8rem;
        flex-basis: 75%;
    }
}

/* PRICELIST - ACCORDION  end */
/* PRICELIST - END */


/* CONTACT - start */
section.contact {
    margin: 0 auto;
    width: 1280px;
}

@media screen and (max-width: 1440px) {
    section.contact {
        width: 90%;
    }
}

iframe.contact-map {
    transform: scale(0);
    transition: 1.5s;
    /* transform do animacji */
}

iframe.contact-map.active {
    height: 370px;
    margin: 0 auto 40px auto;
    transform: scale(1);
    width: 100%;
}

.contact-text-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.contact-text,
.contact-form {
    flex-basis: 50%;
}

.contact-text {
    color: #444;
    font-size: 1.8px;
    letter-spacing: 1.1px;
    line-height: 26px;
    padding-right: 85px;
    width: 50%;
}

.contact-text h3 {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 1.51px;
    line-height: 33px;
    margin: 20px 0;
}

.contact-text i {
    color: #B89288;
    font-size: 2.2rem;
    line-height: 25px;
    margin-right: 10px;
    vertical-align: -4px;
}

.contact-text-wrapper p {
    margin: 20px 0;
}

.contact-text p span {
    margin-left: 34px;
    display: block;
}
.contact-text p span:nth-of-type(1) {
    margin-left: 4px;
    display: inline-block;
}

/* CONTACT FORM - start */


.contact-form p {
    color: #444444;
    display: inline-block;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: 1.51px;
    line-height: 25px;
    margin-bottom: 6px;
    margin-top: 20px;
    width: 100%;
}


.contact-form input,
.contact-form textarea {
    background-color: #FFFFFF;
    border: 1px solid #F0F2F6;
    border-radius: 2px;
    font-family: "Lato";
    font-size: 1.6rem;
    height: 35px;
    letter-spacing: .5px;
    outline: none;
    padding: 0 14px;
    width: 100%;

}

.contact-form textarea {
    color: #444;
    height: 153px;
    max-height: 400px;
    min-height: 173px;
    padding-bottom: 9px;
    padding-top: 9px;
    resize: vertical;
}

/* .contact-form button.send */
.contact-form input.send {
    background-color: #B89288;
    border-radius: 3px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: bold;
    height: auto;
    letter-spacing: 1.1px;
    margin: 16px 0;
    padding: 16px 24px;
    text-transform: uppercase;
    transition: .4s;
    width: auto;
}

button.book-a-visit:hover,
input.send:hover {
    background-color: #ccb0ab;

}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 0 0 6px 0 #F0F2F6;
}


@media screen and (max-width: 1024px) {
    .contact-text-wrapper {
        align-items: center;
        flex-direction: column;
    }

    .contact-text,
    .contact-form {
        display: flex;
        padding-right: 0;
        width: 100%;
    }

    form {
        width: 100%;
    }

    .contact-text-wrapper.mobile {
        align-items: flex-start;
        display: flex;
    }

    .contact-text-wrapper.mobile {
        margin-bottom: 40px;
        width: 60%;
    }

    .contact-icons-wrapper.mobile {
        flex-grow: 1;
        padding-left: 10%;
    }

    .contact-form button.send {
        display: block;
        margin: 16px auto;

    }
}

 @media screen and (orientation: portrait) and (max-width: 834px) {
    .contact-text, .contact-form {
        flex-wrap: wrap;
    }

    .contact-text-wrapper.mobile {
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }

    .contact-icons-wrapper.mobile {
        padding-left: 0;
        display: flex;
        
    }
    
    .contact-text-wrapper .mobile p {
        flex-basis: 33%;
        margin: 20px 0;
        text-align: center;
    }
    
    .contact-icons-wrapper.mobile p:nth-of-type(1),
    .contact-icons-wrapper.mobile p:nth-of-type(2)  {
        border-right: 2px solid #F7F7F7;
    }

    .contact-text-wrapper p i {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
        /* vertical-align: 0; */
    }

    .contact-text i {
        color: #B89288;
        font-size: 2.2rem;
        line-height: 25px;
        vertical-align: -4px;
    }

    .contact-text p span {
        margin-left: 0;
    }

    .contact-form input.send {
        display: block;
        margin: 16px auto;
    }

} 

@media screen and (max-width: 768px) and (orientation: portrait) {
    .contact-icons-wrapper.mobile {
        flex-wrap: wrap;
    }
    .contact-text-wrapper .mobile p {
        flex-basis: 100%;
        margin: 10px 0;
    }
    .contact-text-wrapper .mobile p > * {
        display: inline-block;
    }

    .contact-text-wrapper .mobile p > span:nth-of-type(1) {
        display: none;
    }
    .contact-icons-wrapper.mobile p {
        text-align: left;
    }

    .contact-icons-wrapper.mobile p:nth-of-type(1),
    .contact-icons-wrapper.mobile p:nth-of-type(2)  {
        border-right: none;
    }

    .contact-text p i {
        margin-right: 24px;
        vertical-align: -4px;;
    }

}

/* CONTACT FORM - end */
/* CONTACT - end */


/* FOOTER */
footer {
    background-color: #221E1F;
    height: 8vh;
    margin-top: 72px;
}

footer p {
    color: white;
    display: block;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 8vh;
    margin: 0 auto;
    width: 1280px;
}

@media screen and (max-width: 1440px) {
    footer p {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    footer p {
        font-size: 12px;
    }
}
