{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "airbnb/base",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": ["prettier"],
  "rules": {
    "class-methods-use-this": "off",
    "func-names": "off",
    "no-console": "off",
    "no-process-exit": "off",
    "no-unused-vars": "warn",
    "object-shorthand": "off",
    "prettier/prettier": "error"
  }
}
